In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Read the CSV file skipping the first 20 rows
df = pd.read_csv(r'C:\Users\ENG.TEDOM\Documents\master defend\dataset\Maroua_Hour_1980-01-01_2020-12-31_543627210.csv', skiprows=24)

# Save the DataFrame to a new CSV file
df.to_csv('maroua.csv', index=False)

In [3]:
df = pd.read_csv('maroua.csv', sep=';', header=0)
# Rename the first column by removing the '#' character
df.rename(columns={df.columns[0]: df.columns[0].lstrip(' #')}, inplace=True)
df.head()

,Date,UT time,Temperature,Relative Humidity,Pressure,Wind speed,Wind direction,Rainfall,Snowfall,Snow depth,Short-wave irradiation
0,1980-01-01,01:00,293.23,25.33,963.18,4.93,349.55,0.0,0.0,0.0,0.0
1,1980-01-01,02:00,292.54,26.56,962.91,4.70,351.43,0.0,0.0,0.0,0.0
2,1980-01-01,03:00,291.81,28.10,962.98,4.42,353.77,0.0,0.0,0.0,0.0
3,1980-01-01,04:00,291.16,29.71,963.50,4.32,358.58,0.0,0.0,0.0,0.0
4,1980-01-01,05:00,290.48,31.57,964.17,4.16,3.22,0.0,0.0,0.0,0.0

## Check for null values in each column

In [4]:
# Check for null values in each column
null_columns = df.isna().any()

# Check for null values in the entire DataFrame
null_dataframe = df.isna().any().any()

# Display the results
print("Null values in each column:\n", null_columns)
print("\nNull values in the entire DataFrame:", null_dataframe)

Null values in each column:
 Date                      False
UT time                   False
Temperature               False
Relative Humidity         False
Pressure                  False
Wind speed                False
Wind direction            False
Rainfall                  False
Snowfall                  False
Snow depth                False
Short-wave irradiation    False
dtype: bool

Null values in the entire DataFrame: False